@use "Colour";
@use "MQ" as *;

.c-subscription-subscribe {
    width: 100%;
}

.c-subscription-subscribe__heading {
    margin-bottom: 20px;

    @include mq($until: tablet) {
        margin-bottom: 15px;
    }
}

.c-subscription-subscribe__subheading {
    margin-bottom: 33px;
    color: #{Colour.get(grey)};
    line-height: 1.75;

    @include mq($until: tablet) {
        padding: 0 26px;
        margin-bottom: 21px;
    }
}

.c-subscription-subscribe__form {
    display: flex;
    align-items: flex-start;

    position: relative;

    width: 100%;
}

.c-subscription-subscribe__input {
    width: 233px;
    margin-left: 34px;
}

.c-subscription-subscribe__email-input {
    @extend .c-subscription-subscribe__input;

    flex-grow: 1;
}

.c-subscription-subscribe__submit {
    height: 55px;
    margin-top: 29px;
}
