@use "MQ" as *;
@use "Colour";

.c-articles-hero__heading-container {
    margin: 100px 0;

    @include mq($until: desktop) {
        width: 80%;
    }

    @include mq($until: tablet) {
        width: 100%;
    }
}

.c-articles-hero__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.15;
    text-align: left;

    color: #{Colour.get(primary)};

    a {
        color: #{Colour.get(accent)};
    }

    @include mq($until: desktop) {
        font-size: 38px;
    }

    @include mq($until: phablet) {
        font-size: 32px;
    }
}

.c-articles-hero__subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @include mq($until: desktop) {
        margin-bottom: 80px;
    }

    @include mq($until: tablet) {
        margin-bottom: 60px;
    }

    @include mq($until: phablet) {
        display: none;
    }
}

.c-articles-hero__controls {
    display: flex;
    align-items: center;

    @include mq($until: tablet) {
        display: none;
    }
}
