@use "Colour";

.c-progress {
    position: relative;
    outline: none;
    user-select: none;
}

.c-progress__trackline {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(88vh - 40px);
    max-height: 425px;
    width: 1px;
    background-color: #{Colour.get(track)};
    opacity: 0.6;
    overflow: hidden;
}

.c-progress__progress-line {
    position: absolute;
    height: 100%;
    top: -100%;
    width: 1px;
    background-color: #{Colour.get(progress)};
    left: 0;
}
