@use "Colour";
@use "Theme";

.c-promotion {
    position: relative;

    width: 100%;
    height: 21px;
    padding-bottom: 13px;

    background: #{Colour.get(primary)};

    transition: #{Theme.$transition};

    &::before {
        content: '';
        width: 100%;
        height: 13px;
        background: #{Colour.get(background)};
        position: absolute;
        left: 0;
        bottom: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        transition: #{Theme.$transition};
    }
}
