@use "Colour";
@use "Theme";
@use "Ease";
@use "Direction";
@use "MQ" as *;

.c-social-links {
    display: flex;
    align-items: center;
}

.c-social-links__item {
    position: relative;
    margin-right: 3.2rem;
    text-decoration: none;
    max-width: 16px;

    @include Direction.global(ltr) {
        margin-right: 0;
        margin-left: 3.2rem;
    }

    &:first-of-type {
        margin-right: 0;

        @include Direction.global(ltr) {
            margin-left: 0;
        }
    }

    &:last-child {
        margin-left: 0;

        @include Direction.global(ltr) {
            margin-right: 0;
        }
    }

    &[data-a11y='true']:focus::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -20%;
        width: 200%;
        height: 160%;
        border: 2px solid #{Colour.get(accent)};
        background: rgba(255, 255, 255, 0.01);
        border-radius: 5px;
    }

    @include mq($until: tablet) {
        margin: 0 2.2rem;
    }
}

.c-social-links__icon {
    --path-fill: #73737d;

    * {
        transition: fill 0.25s #{Ease.$in-out-quad};
    }

    .c-social-links__item:hover & {
        --path-fill: #{Colour.get(primary)};
    }

    @include Theme.dark {
        --path-fill: rgb(115, 115, 125);
    }
}
