@use "Colour";
@use "Direction";
@use "Theme";
@use "MQ" as *;

.c-header__nav {
  position: relative;
  z-index: 100;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;

  @include mq($until: desktop-md) {
    padding-top: 50px;
  }

  @media screen and (max-height: 800px) {
    padding-top: 50px;
  }
}

.c-header__home-link {
  position: relative;
  display: flex;
  align-items: center;
  left: 0;

  &.-back {
    left: -54px;
  }

  @include mq($until: desktop-md) {
    left: 0;
  }

  &[data-a11y='true']:focus::after {
    content: '';
    position: absolute;
    left: -10%;
    top: -30%;
    width: 120%;
    height: 160%;
    border: 2px solid Colour.get(accent);
    background: rgba(255, 255, 255, 0.01); // TODO
    border-radius: 5px;
  }

  &:hover {
    // ${BackArrowIconContainer} {
    //   transform: translateX(-3px);
    // }
  }
}

.c-header__back-arrow-container {
  transition: 0.2s transform var(--ease-out-quad);
  opacity: 0;
  padding-right: 30px;
  animation: fadein 0.3s linear forwards;

  .c-header__home-link:hover & {
    transform: translateX(-3px);
  }

  @include mq($until: desktop-md) {
    display: none;
  }
}

// .c-header__back-arrow,
// .c-header__back-button-icon {
//   fill: Colour.get(black);

//   @include Theme.dark {
//     fill: Colour.get(white);
//   }
// }

.c-header__controls {
  position: relative;
  display: flex;
  align-items: center;

  @include mq($until: phablet) {
    right: -5px;
  }
}

.c-header__control {
  opacity: 0.5;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;

  @include Direction.global(ltr) {
    margin-right: 0;
    margin-left: 30px;
  }

  &:hover {
    opacity: 1;
  }

  &[data-a11y='true']:focus::after {
    content: '';
    position: absolute;
    left: 0;
    top: -30%;
    width: 100%;
    height: 160%;
    border: 2px solid #{Colour.get(accent)};
    background: rgba(255, 255, 255, 0.01);
    border-radius: 5px;
  }

  @include mq($until: tablet) {
    display: inline-flex;
    transform: scale(0.708);
    margin-left: 10px;

    &:hover {
      opacity: 0.5;
    }
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
