.c-mdx-youtube {
  width: 680px;
  height: 382px;
  margin: auto;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 8px 55px -5px rgba(0, 0, 0, 0.13);

  .ytp-impression-link {
    left: 5px;
  }
}
